<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Tracker | Symph</title>

    <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap-table/react-bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap-table/toastr.css">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div id="content"></div>

    <script src="/js/app/bundle.min.js"></script>
</body>
</html>